<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.ConnectionUI" version="16.6.30107.105" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Data" version="16.6.30107.105" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net45" />
</packages>