<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="channel" value="namepipe" />
    <add key="downloadpath" value="E:\temp\MPU\"/>
    <add key="downloadpathftp" value="ftp://192.168.1.107/"/>
    <add key="hostname" value="192.168.101.1"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
  </appSettings>
</configuration>